{% extends 'tugas4\base.html' %}
{% block content %}
{% load static %}
  <body>
      <div class="jumbotron bg-transparent" style="margin-top: 150px">
        <div class="container">
          <h1 style= "text-align: center" class="display-4">Assalamualaikum<br>Perkenalkan nama saya 
            Muhammad Ravi
            <br>Selamat datang di website saya &#128512</h1>
        </div>
    </div>
    {% endblock %}
