{% extends 'tugas4\base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
<body>
  <br><br><hr>
    <h2>Profil Saya</h2>

<div class="container">
  <p>Ini foto saya waktu SMA kemarin</p>

  <img src="\static\home\imagesRaviSMA.jpeg" alt="Foto saya waktu SMA" width="225" height="225" style="vertical-align:middle;margin:0px 425px">
  
  <table>
    <tr>
      <td>Nama</td>
      <td>Muhammad Ravi Shulthan Habibi</td>
    </tr>
    <tr>
      <td>NPM</td>
      <td>1906351000</td>
    </tr>
    <tr>
      <td>Angkatan</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>Hobi</td>
      <td>Berkumpul</td>
    </tr>
    <tr>
      <td>Deskripsi tentang saya</td>
      <td>Baik hati dan tidak sombong</td>
    </tr>
    <tr>
      <td>Tempat kuliah</td>
      <td>Universitas Indonesia</td>
    </tr>
    <tr>
      <td>Riwayat pendidikan</td>
      <td>SD - SMP - SMA</td>
    </tr>
    <tr>
      <td>Media sosial</td>
      <td>Punya Whatsapp dan Line(bangravi) dan Linkedin 
        <a href="https://www.linkedin.com/in/muhammad-ravi-shulthan-habibi-0738491b2/" class="fa fa-linkedin" 
        </a>
      </td>
    </tr>
  
    
  </table>
</div>

  {% endblock %}




    
