{% extends 'tugas4\base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
  <body>
      

      <div class="biodata" id="biodataID">
        <br><hr><br><br>
        <h2>
          Biodata
        </h2>
        <p style="text-align:left;">
          <img src="\static\home\fotoRaviSMA.jpeg" alt="Foto saya saat SMA" width="300" height="300" align="left">
            Nama: Muhammad Ravi Shulthan Habibi<br>
            NPM: 1906351000<br>
            Angkatan: 2019<br>
            Hobi: Berkumpul<br>
            Deskripsi tentang saya: Baik dan tidak sombong<br>
            Tempat kuliah: Universitas Indonesia<br>
            Media sosial: Line dan Whatsapp saja<br> 
        </p>
        <br><br><br><hr>
        <p style= "text-align:center;">
            Find me at : Only LinkedIn <a href="https://www.linkedin.com/in/muhammad-ravi-shulthan-habibi-0738491b2/" class="fa fa-linkedin"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      
      <div class="deskripsi" id="deskripsiID">
        <br><hr><br><br><br><br>
        <h2>
          Deskripsi
        </h2>
        <p>
          Halo, perkenalkan nama saya Muhammad Ravi Shulthan Habibi, biasa dipanggil Ravi<br>
          Saya berasal dari Grogol, Jakarta Barat<br>
          Lahir di Jakarta pada tanggal 25 Oktober 2001<br>
          Saat ini saya sedang menjalani kuliah di Fakultas Ilmu Komputer Universitas Indonesia pada jurusan Ilmu Komputer<br>
          Sekian perkenalan dari saya &#128578
        </p>
        <br><br><br><hr>
        <p style= "text-align:center;">
            Find me at : Only LinkedIn <a href="https://www.linkedin.com/in/muhammad-ravi-shulthan-habibi-0738491b2/" class="fa fa-linkedin"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      <div class="skill" id="skillID">
        <br><hr><br><br><br><br>
        <h2>
          Skill
        </h2>
        <p>
          Belajar menguasai bahasa Python<br><br>
          Belajar menguasai bahasa Java<br><br>
          Belajar merancang website<br><br>
          Belajar merancang UI/UX<br><br>
        </p>
        <hr>
        <p style= "text-align:center;">
            Find me at : Only LinkedIn <a href="https://www.linkedin.com/in/muhammad-ravi-shulthan-habibi-0738491b2/" class="fa fa-linkedin"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      <div class="pendidikan" id="pendidikanID">
        <br><hr><br><br><br><br>
        <h2>
          Pendidikan
        </h2>
        <p>
          2007 - 2013 : SDN Jelambar 06 Pagi<br><br>
          2013 - 2016 : SMPN 89 Tanjung Duren<br><br>
          2016 - 2019 : SMAN 112 Pesanggrahan<br><br>
          2019 - 2022 (insyaaAllah): Fasilkom Universitas Indonesia<br><br>
        </p>
        <hr>
        <p style= "text-align:center;">
            Find me at : Only LinkedIn <a href="https://www.linkedin.com/in/muhammad-ravi-shulthan-habibi-0738491b2/" class="fa fa-linkedin"></a>
        </p>  
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      {% endblock %}